<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title_name %}Про нас{% endblock %}


{% block content %}
<!-- Breadcrumbs -->
<section class="breadcrumbs-custom-inset">
  <div class="breadcrumbs-custom context-dark bg-overlay-60">
    <div class="container">
      <h2 class="breadcrumbs-custom-title">About</h2>
      <ul class="breadcrumbs-custom-path">
        <li><a href="/">Home</a></li>
        <li class="active">About</li>
      </ul>
    </div>
    <div class="box-position" style="background-image: url({% static 'images/breadcrumbs-bg.png' %});"></div>
  </div>
</section>
<!-- Why choose us-->
<section class="section section-sm section-first bg-default text-md-left">
  <div class="container">
    <div class="row row-50 justify-content-center align-items-xl-center">
      <div class="col-md-10 col-lg-5 col-xl-6"><img src="{% static 'images/about-1-519x564.jpg' %}" alt="" width="519" height="564"/>
      </div>
      <div class="col-md-10 col-lg-7 col-xl-6">
        <h1 class="text-spacing-25 font-weight-normal title-opacity-9">Why choose us</h1>
        <!-- Bootstrap tabs-->
        <div class="tabs-custom tabs-horizontal tabs-line" id="tabs-4">
          <!-- Nav tabs-->
          <ul class="nav nav-tabs">
            <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-4-1" data-toggle="tab">Experience</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-4-2" data-toggle="tab">Skills</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-4-3" data-toggle="tab">Mission</a></li>
          </ul>
          <!-- Tab panes-->
          <div class="tab-content">
            <div class="tab-pane fade show active" id="tabs-4-1">
              <p>The teacher has a lot of experience in his field. She will explain to you your dear mistake, if one appears!</p>
              <!-- Linear progress bar-->
              <article class="progress-linear progress-secondary">
                <div class="progress-header">
                  <p>Variety of courses</p>
                </div>
                <div class="progress-bar-linear-wrap">
                  <div class="progress-bar-linear" data-gradient=""><span class="progress-value">79</span><span class="progress-marker"></span></div>
                </div>
              </article>
              <!-- Linear progress bar-->
              <article class="progress-linear progress-orange">
                <div class="progress-header">
                  <p>Practice</p>
                </div>
                <div class="progress-bar-linear-wrap">
                  <div class="progress-bar-linear" data-gradient=""><span class="progress-value">72</span><span class="progress-marker"></span></div>
                </div>
              </article>
              <!-- Linear progress bar-->
              <article class="progress-linear">
                <div class="progress-header">
                  <p>Theory</p>
                </div>
                <div class="progress-bar-linear-wrap">
                  <div class="progress-bar-linear" data-gradient=""><span class="progress-value">88</span><span class="progress-marker"></span></div>
                </div>
              </article>
            </div>
            <div class="tab-pane fade" id="tabs-4-2">
              <div class="row row-40 justify-content-center text-center inset-top-10">
                <div class="col-sm-4">
                  <!-- Circle Progress Bar-->
                  <div class="progress-bar-circle" data-value="0.79" data-gradient="#01b3a7" data-empty-fill="transparent" data-size="150" data-thickness="12" data-reverse="true"><span></span></div>
                  <p class="progress-bar-circle-title">Variety of courses</p>
                </div>
                <div class="col-sm-4">
                  <!-- Circle Progress Bar-->
                  <div class="progress-bar-circle" data-value="0.72" data-gradient="#01b3a7" data-empty-fill="transparent" data-size="150" data-thickness="12" data-reverse="true"><span></span></div>
                  <p class="progress-bar-circle-title">Practice</p>
                </div>
                <div class="col-sm-4">
                  <!-- Circle Progress Bar-->
                  <div class="progress-bar-circle" data-value="0.88" data-gradient="#01b3a7" data-empty-fill="transparent" data-size="150" data-thickness="12" data-reverse="true"><span></span></div>
                  <p class="progress-bar-circle-title">Theory</p>
                </div>
              </div>
              <div class="group-md group-middle"><a class="button button-width-xl-230 button-primary button-pipaluk" href="/contact-us/">Get in touch</a></div>
            </div>
            <div class="tab-pane fade" id="tabs-4-3">
              <p>Our missions are not something specific, because there are many of them!</p>
              <div class="text-center text-sm-left offset-top-30 tab-height">
                <ul class="row-16 list-0 list-custom list-marked list-marked-sm list-marked-secondary">
                  <li>Quality education</li>
                  <li>Sufficient to practice</li>
                  <li>Qualitative theory</li>
                  <li>Good attitude towards students</li>
                  <li>Adequate explanation</li>
                  <li>Convenience of learning</li>
                </ul>
              </div>
              <div class="group-md group-middle"><a class="button button-width-xl-230 button-primary button-pipaluk" href="/contact-us/">Get in touch</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Latest Projects-->
<section class="section section-sm section-fluid bg-default">
  <div class="container">
    <h3>Destinations</h3>
  </div>
  <!-- Owl Carousel-->
  <div class="owl-carousel owl-classic owl-timeline" data-items="1" data-md-items="2" data-lg-items="3" data-xl-items="4" data-margin="30" data-autoplay="false" data-nav="true" data-dots="true">
    <div class="owl-item">
      <!-- Thumbnail Classic-->
      <article class="thumbnail thumbnail-mary">
        <div class="thumbnail-mary-figure"><img src="{% static 'images/gallery-image-12-420x308.jpg' %}" alt="" width="420" height="308"/>
        </div>
        <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="{% static 'images/gallery-image-12-1200x800-original.jpg' %}" data-lightgallery="item"><img src="{% static 'images/gallery-image-12-420x308.jpg' %}" alt="" width="420" height="308"/></a>
        </div>
      </article>
      <div class="thumbnail-mary-description">
        <h5 class="thumbnail-mary-project"><a href="/course/1/">Програмування на Python</a></h5><span class="thumbnail-mary-decor"></span>
        <h5 class="thumbnail-mary-time">
        </h5>
      </div>
    </div>
    <div class="owl-item">
      <!-- Thumbnail Classic-->
      <article class="thumbnail thumbnail-mary">
        <div class="thumbnail-mary-figure"><img src="{% static 'images/gallery-image-13-420x308.jpg' %}" alt="" width="420" height="308"/>
        </div>
        <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="{% static 'images/gallery-image-13-1200x800-original.jpg' %}" data-lightgallery="item"><img src="{% static 'images/gallery-image-13-420x308.jpg' %}" alt="" width="420" height="308"/></a>
        </div>
      </article>
      <div class="thumbnail-mary-description">
        <h5 class="thumbnail-mary-project"><a href="/course/2/">Програмування Minecraft на Python</a></h5><span class="thumbnail-mary-decor"></span>
        <h5 class="thumbnail-mary-time">
        </h5>
      </div>
    </div>
    <div class="owl-item">
      <!-- Thumbnail Classic-->
      <article class="thumbnail thumbnail-mary">
        <div class="thumbnail-mary-figure"><img src="{% static 'images/gallery-image-14-420x308.jpg' %}" alt="" width="420" height="308"/>
        </div>
        <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="{% static 'images/gallery-image-14-1200x800-original.jpg' %}" data-lightgallery="item"><img src="{% static 'images/gallery-image-14-420x308.jpg' %}" alt="" width="420" height="308"/></a>
        </div>
      </article>
      <div class="thumbnail-mary-description">
        <h5 class="thumbnail-mary-project"><a href="/course/3/">Освоєння Photoshop</a></h5><span class="thumbnail-mary-decor"></span>
        <h5 class="thumbnail-mary-time">
        </h5>
      </div>
    </div>
    <div class="owl-item">
      <!-- Thumbnail Classic-->
      <article class="thumbnail thumbnail-mary">
        <div class="thumbnail-mary-figure"><img src="{% static 'images/gallery-image-15-420x308.jpg' %}" alt="" width="420" height="308"/>
        </div>
        <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="{% static 'images/gallery-image-15-1200x800-original.jpg' %}" data-lightgallery="item"><img src="{% static 'images/gallery-image-15-420x308.jpg' %}" alt="" width="420" height="308"/></a>
        </div>
      </article>
      <div class="thumbnail-mary-description">
        <h5 class="thumbnail-mary-project"><a href="/course/4/">Робототехніка LeGoWEDO</a></h5><span class="thumbnail-mary-decor"></span>
        <h5 class="thumbnail-mary-time">
        </h5>
      </div>
    </div>

    <div class="owl-item">
      <!-- Thumbnail Classic-->
      <article class="thumbnail thumbnail-mary">
        <div class="thumbnail-mary-figure"><img src="{% static 'images/gallery-image-16-420x308.jpg' %}" alt="" width="420" height="308"/>
        </div>
        <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="{% static 'images/gallery-image-16-1200x800-original.jpg' %}" data-lightgallery="item"><img src="{% static 'images/gallery-image-16-420x308.jpg' %}" alt="" width="420" height="308"/></a>
        </div>
      </article>
      <div class="thumbnail-mary-description">
        <h5 class="thumbnail-mary-project"><a href="/course/5/">Комп'ютерна грамотність</a></h5><span class="thumbnail-mary-decor"></span>
        <h5 class="thumbnail-mary-time">
        </h5>
      </div>
    </div>
  </div>
</section>
<!-- What people Say-->
<section class="section section-sm section-last bg-default">
  <div class="container">
    <h3>What People Say</h3>
    <!-- Owl Carousel-->
    <div class="owl-carousel owl-modern" data-items="1" data-stage-padding="15" data-margin="30" data-dots="true" data-animation-in="fadeIn" data-animation-out="fadeOut" data-autoplay="true">
      <!-- Quote Lisa-->
      <article class="quote-lisa">
        <div class="quote-lisa-body"><a class="quote-lisa-figure" href="#"><img class="img-circles" src="{% static 'images/user-16-100x100.jpg' %}" alt="" width="100" height="100"/></a>
          <div class="quote-lisa-text">
            <p class="q">When I bought this course for my daughter, I did not expect such a result! She looked forward to every next lesson and came home happy!</p>
          </div>
          <h5 class="quote-lisa-cite"><a href="#">Catherine Williams</a></h5>
          <p class="quote-lisa-status">Regular Client</p>
        </div>
      </article>
      <!-- Quote Lisa-->
      <article class="quote-lisa">
        <div class="quote-lisa-body"><a class="quote-lisa-figure" href="#"><img class="img-circles" src="{% static 'images/user-17-100x100.jpg' %}" alt="" width="100" height="100"/></a>
          <div class="quote-lisa-text">
            <p class="q">Two years ago, I realized that I was not well oriented in the material I work with every day. I decided to try enrolling in a Python programming course. I did not expect such meaningful material. Thank you teacher!</p>
          </div>
          <h5 class="quote-lisa-cite"><a href="#">Rupert Wood</a></h5>
          <p class="quote-lisa-status">Regular Client</p>
        </div>
      </article>
      <!-- Quote Lisa-->
      <article class="quote-lisa">
        <div class="quote-lisa-body"><a class="quote-lisa-figure" href="#"><img class="img-circles" src="{% static 'images/user-18-100x100.jpg' %}" alt="" width="100" height="100"/></a>
          <div class="quote-lisa-text">
            <p class="q">From the age of 18, I worked as a cashier in a store. I understood that I had to look for something new. She found funds and tried to sign up for graphic design. Now I quit my job and work for 6 times more.</p>
          </div>
          <h5 class="quote-lisa-cite"><a href="#">Samantha Brown</a></h5>
          <p class="quote-lisa-status">Regular Client</p>
        </div>
      </article>
    </div>
  </div>
</section>
<!--Counters-->
<!-- Counter Classic-->
<section class="section section-fluid bg-default">
  <div class="parallax-container" data-parallax-img="{% static 'images/bg-counter-2.jpg' %}">
    <div class="parallax-content section-xl context-dark bg-overlay-26">
      <div class="container">
        <div class="row row-50 justify-content-center border-classic">
          <div class="col-sm-6 col-md-5 col-lg-3">
            <div class="counter-classic">
              <div class="counter-classic-number"><span class="counter">12</span>
              </div>
              <h5 class="counter-classic-title">Awards</h5>
            </div>
          </div>
          <div class="col-sm-6 col-md-5 col-lg-3">
            <div class="counter-classic">
              <div class="counter-classic-number"><span class="counter">10</span>
              </div>
              <h5 class="counter-classic-title">Courses</h5>
            </div>
          </div>
          <div class="col-sm-6 col-md-5 col-lg-3">
            <div class="counter-classic">
              <div class="counter-classic-number"><span class="counter">200</span>
              </div>
              <h5 class="counter-classic-title">Students</h5>
            </div>
          </div>
          <div class="col-sm-6 col-md-5 col-lg-3">
            <div class="counter-classic">
              <div class="counter-classic-number"><span class="counter">25</span>
              </div>
              <h5 class="counter-classic-title">Team members</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block navbar %}
  <li class="rd-nav-item"><a class="rd-nav-link" href="/">Home</a>
  </li>
  <li class="rd-nav-item active"><a class="rd-nav-link" href="/about/">About</a>
  </li>
  <li class="rd-nav-item"><a class="rd-nav-link" href="/courses/">Courses</a>
  </li>
  <li class="rd-nav-item"><a class="rd-nav-link" href="/contact-us/">Contact Us</a>
  </li>
{% endblock %}