<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title_name %}Головна сторінка{% endblock %}

{% block content %}
<section class="section swiper-container swiper-slider swiper-slider-corporate swiper-pagination-style-2" data-loop="true" data-autoplay="5000" data-simulate-touch="true" data-nav="false" data-direction="vertical">
  <div class="swiper-wrapper text-left">
    <div class="swiper-slide context-dark" data-slide-bg="{% static 'images/slider-4-slide-1-1920x678.jpg' %}">
      <div class="swiper-slide-caption section-md">
        <div class="container">
          <div class="row">
            <div class="col-md-10">
              <h6 class="text-uppercase" data-caption-animate="fadeInRight" data-caption-delay="0">Enjoy the Best Programmer Courses</h6>
              <h2 class="oh font-weight-light" data-caption-animate="slideInUp" data-caption-delay="100"><span>Enjoy</span><span class="font-weight-bold"> The Process</span></h2><a class="button button-default-outline button-ujarak" href="/contact-us/" data-caption-animate="fadeInLeft" data-caption-delay="0">Get in touch</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide context-dark" data-slide-bg="{% static 'images/slider-4-slide-2-1920x678.jpg' %}">
      <div class="swiper-slide-caption section-md">
        <div class="container">
          <div class="row">
            <div class="col-md-10">
              <h6 class="text-uppercase" data-caption-animate="fadeInRight" data-caption-delay="0">A proffesional teacher</h6>
              <h2 class="oh font-weight-light" data-caption-animate="slideInUp" data-caption-delay="100"><span>Help</span><span class="font-weight-bold"> Our Experience</span></h2><a class="button button-default-outline button-ujarak" href="/contact-us/" data-caption-animate="fadeInLeft" data-caption-delay="0">Get in touch</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide context-dark" data-slide-bg="{% static 'images/slider-4-slide-3-1920x678.jpg' %}">
      <div class="swiper-slide-caption section-md">
        <div class="container">
          <div class="row">
            <div class="col-md-10">
              <h6 class="text-uppercase" data-caption-animate="fadeInRight" data-caption-delay="0">Build your own app with us!</h6>
              <h2 class="oh font-weight-light" data-caption-animate="slideInUp" data-caption-delay="100"><span>Create</span><span class="font-weight-bold"> Your App</span></h2><a class="button button-default-outline button-ujarak" href="/contact-us/" data-caption-animate="fadeInLeft" data-caption-delay="0">Get in touch</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Swiper Pagination-->
  <div class="swiper-pagination"></div>
</section>
<!-- Section Box Categories-->
<section class="section section-lg section-top-1 bg-gray-4">
  <div class="container offset-negative-1">
    <div class="box-categories cta-box-wrap">
      <div class="box-categories-content">
        <div class="row justify-content-center">
          {% for course in courses %}
          <div class="col-md-4 wow fadeInDown col-9" data-wow-delay=".2s">
            <ul class="list-marked-2 box-categories-list">
              <li><a href="/course/{{ course.id }}"><img src="{{ BASE_DIR }}{{ course.image.url }}" alt="" width="368" height="420"/></a>
                <h5 class="box-categories-title">{{ course.name }}</h5>
              </li>
            </ul>
          </div>
          {% endfor %}
          

        </div>
      </div>
    </div><a class="link-classic wow fadeInUp" href="/courses/">Other Courses<span></span></a>
    <!-- Owl Carousel-->
  </div>
</section>
<!-- Discover New Horizons-->
<section class="section section-sm section-first bg-default text-md-left">
  <div class="container">
    <div class="row row-50 align-items-center justify-content-center justify-content-xl-between">
      <div class="col-lg-6 text-center wow fadeInUp"><img src="{% static 'images/index-3-556x382.jpg' %}" alt="" width="556" height="382"/>
      </div>
      <div class="col-lg-6 wow fadeInRight" data-wow-delay=".1s">
        <div class="box-width-lg-470">
          <h3>Discover New Information</h3>
          <!-- Bootstrap tabs-->
          <div class="tabs-custom tabs-horizontal tabs-line tabs-line-big tabs-line-style-2 text-center text-md-left" id="tabs-7">
            <!-- Nav tabs-->
            <ul class="nav nav-tabs">
              <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-7-1" data-toggle="tab">About us</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-7-2" data-toggle="tab">Why choose us</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-7-3" data-toggle="tab">Our mission</a></li>
            </ul>
            <!-- Tab panes-->
            <div class="tab-content">
              <div class="tab-pane fade show active" id="tabs-7-1">
                <p>We work about 5 years. A lot of experience was got.</p>
                <div class="group-md group-middle"><a class="button button-secondary button-pipaluk" href="/contact-us/">Get in Touch</a></div>
              </div>
              <div class="tab-pane fade" id="tabs-7-2">
                <p>Your child will get a lot of intresting experience with us! Except for teory, we make a lot of projects and it will not be boring for your child!</p>
                <div class="group-md group-middle"><a class="button button-secondary button-pipaluk" href="/contact-us/">Get in Touch</a></div>
              </div>
              <div class="tab-pane fade" id="tabs-7-3">
                <p>Our mission is to provide your child the most intresting lessons. We have a lot of courses, for everyone`s taste.</p>
                <div class="group-md group-middle"><a class="button button-secondary button-pipaluk" href="/contact-us/">Get in Touch</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--	Our Services-->
<section class="section section-sm">
  <div class="container">
    <h3>Our Services</h3>
    <div class="row row-30">
      <div class="col-sm-6 col-lg-4">
        <article class="box-icon-classic">
          <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
            <div class="unit-left">
              <div class="box-icon-classic-icon fl-bigmug-line-equalization3"></div>
            </div>
            <div class="unit-body">
              <h5 class="box-icon-classic-title"><a href="/contact-us/">Personalized Matching</a></h5>
              <p class="box-icon-classic-text">Our unique matching system lets you find just the tour you want for your next holiday.</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4">
        <article class="box-icon-classic">
          <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
            <div class="unit-left">
              <div class="box-icon-classic-icon fl-bigmug-line-circular220"></div>
            </div>
            <div class="unit-body">
              <h5 class="box-icon-classic-title"><a href="/courses/">Wide Variety of Courses</a></h5>
              <p class="box-icon-classic-text">We offer a big variety of courses for your fear</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4">
        <article class="box-icon-classic">
          <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
            <div class="unit-left">
              <div class="box-icon-classic-icon fl-bigmug-line-favourites5"></div>
            </div>
            <div class="unit-body">
              <h5 class="box-icon-classic-title"><a href="/about/">Highly Qualified Service</a></h5>
              <p class="box-icon-classic-text">Our tour managers are qualified, skilled, and friendly.</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- Hot tours-->
<section class="section section-sm bg-default">
  <div class="container">
    <h3 class="oh-desktop"><span class="d-inline-block wow slideInDown">Best Courses</span></h3>
    <div class="row row-sm row-40 row-md-50">
      <div class="col-sm-6 col-md-12 wow fadeInRight">
        <!-- Product Big-->
        <article class="product-big">
          <div class="unit flex-column flex-md-row align-items-md-stretch">
            <div class="unit-left"><a class="product-big-figure" href="/course/1/"><img src="{% static 'images/product-big-1-600x366.jpg' %}" alt="" width="600" height="366"/></a></div>
            <div class="unit-body">
              <div class="product-big-body">
                <h5 class="product-big-title"><a href="/course/1/">Програмування на Python</a></h5>
                <div class="group-sm group-middle justify-content-start">
                  <div class="product-big-rating"><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star_half"></span></div><a class="product-big-reviews" href="#">4 customer reviews</a>
                </div>
                <p class="product-big-text">At the beginning of the course you will receive a structured basics. Later, you will start making projects such as websites</p><a class="button button-black-outline button-ujarak" href="/course/1/">Buy This Course</a>
                <div class="product-big-price-wrap"><span class="product-big-price">$26.19/month</span></div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-md-12 wow fadeInLeft">
        <!-- Product Big-->
        <article class="product-big">
          <div class="unit flex-column flex-md-row align-items-md-stretch">
            <div class="unit-left"><a class="product-big-figure" href="/course/3/"><img src="{% static 'images/product-big-2-600x366.jpg' %}" alt="" width="600" height="366"/></a></div>
            <div class="unit-body">
              <div class="product-big-body">
                <h5 class="product-big-title"><a href="/course/3/">Графічний дизайн</a></h5>
                <div class="group-sm group-middle justify-content-start">
                  <div class="product-big-rating"><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star_half"></span></div><a class="product-big-reviews" href="#">5 customer reviews</a>
                </div>
                <p class="product-big-text">In this course you will be taught how to use editors such as: Photoshop, Illustrator and others.</p><a class="button button-black-outline button-ujarak" href="/course/3/">Buy This Course</a>
                <div class="product-big-price-wrap"><span class="product-big-price">$26.19/month</span></div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- Different People-->
<section class="section section-sm">
  <div class="container">
    <h3 class="title-block find-car oh"><span class="d-inline-block wow slideInUp">Different People — One Mission</span></h3>
    <div class="row row-30 justify-content-center box-ordered">
      <div class="col-sm-6 col-md-5 col-lg-3">
        <!-- Team Modern-->
        <article class="team-modern">
          <div class="team-modern-header"><a class="team-modern-figure" href="/"><img class="img-circles" src="{% static 'images/user-1-118x118.jpg' %}" alt="" width="118" height="118"/></a>
            <svg x="0px" y="0px" width="270px" height="70px" viewbox="0 0 270 70" enable-background="new 0 0 270 70" xml:space="preserve">
              <g>
                <path fill="#161616" d="M202.085,0C193.477,28.912,166.708,50,135,50S76.523,28.912,67.915,0H0v70h270V0H202.085z"></path>
              </g>
            </svg>
          </div>
          <div class="team-modern-caption">
            <h6 class="team-modern-name"><a href="/">Diana Robinson</a></h6>
            <p class="team-modern-status">Founder, Owner</p>
            <h6 class="team-modern-phone"><a href="tel:#">+1 323-913-4688</a></h6>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-md-5 col-lg-3">
        <!-- Team Modern-->
        <article class="team-modern">
          <div class="team-modern-header"><a class="team-modern-figure" href="/"><img class="img-circles" src="{% static 'images/user-2-118x118.jpg' %}" alt="" width="118" height="118"/></a>
            <svg x="0px" y="0px" width="270px" height="70px" viewbox="0 0 270 70" enable-background="new 0 0 270 70" xml:space="preserve">
              <g>
                <path fill="#161616" d="M202.085,0C193.477,28.912,166.708,50,135,50S76.523,28.912,67.915,0H0v70h270V0H202.085z"></path>
              </g>
            </svg>
          </div>
          <div class="team-modern-caption">
            <h6 class="team-modern-name"><a href="/">Peter McMillan</a></h6>
            <p class="team-modern-status">Travel Agent</p>
            <h6 class="team-modern-phone"><a href="tel:#">+1 323-913-4688</a></h6>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-md-5 col-lg-3">
        <!-- Team Modern-->
        <article class="team-modern">
          <div class="team-modern-header"><a class="team-modern-figure" href="/"><img class="img-circles" src="{% static 'images/user-3-118x118.jpg' %}" alt="" width="118" height="118"/></a>
            <svg x="0px" y="0px" width="270px" height="70px" viewbox="0 0 270 70" enable-background="new 0 0 270 70" xml:space="preserve">
              <g>
                <path fill="#161616" d="M202.085,0C193.477,28.912,166.708,50,135,50S76.523,28.912,67.915,0H0v70h270V0H202.085z"></path>
              </g>
            </svg>
          </div>
          <div class="team-modern-caption">
            <h6 class="team-modern-name"><a href="/">Jill Peterson</a></h6>
            <p class="team-modern-status">Tour Consultant</p>
            <h6 class="team-modern-phone"><a href="tel:#">+1 323-913-4688</a></h6>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-md-5 col-lg-3">
        <!-- Team Modern-->
        <article class="team-modern">
          <div class="team-modern-header"><a class="team-modern-figure" href="/"><img class="img-circles" src="{% static 'images/user-4-118x118.jpg' %}" alt="" width="118" height="118"/></a>
            <svg x="0px" y="0px" width="270px" height="70px" viewbox="0 0 270 70" enable-background="new 0 0 270 70" xml:space="preserve">
              <g>
                <path fill="#161616" d="M202.085,0C193.477,28.912,166.708,50,135,50S76.523,28.912,67.915,0H0v70h270V0H202.085z"></path>
              </g>
            </svg>
          </div>
          <div class="team-modern-caption">
            <h6 class="team-modern-name"><a href="/">James Smith</a></h6>
            <p class="team-modern-status">PR Manager</p>
            <h6 class="team-modern-phone"><a href="tel:#">+1 323-913-4688</a></h6>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- Section Subscribe-->
<section class="section bg-default text-center offset-top-50">
  <div class="parallax-container" data-parallax-img="{% static 'images/parallax-1-1920x850.jpg' %}">
    <div class="parallax-content section-xl section-inset-custom-1 context-dark bg-overlay-2-21">
      <div class="container">
        <h2 class="heading-2 oh font-weight-normal wow slideInDown"><span class="d-block font-weight-semi-bold">First-class Courses</span><span class="d-block font-weight-light">are Waiting for You!</span></h2>
        <p class="text-width-medium text-spacing-75 wow fadeInLeft" data-wow-delay=".1s">Our organization will help you quickly gain knowledge with which you can earn money!</p><a class="button button-secondary button-pipaluk" href="/contact-us/">Sign Up For Course!</a>
      </div>
    </div>
  </div>
</section>
<!--	Instagrram wondertour-->
<section class="section section-sm section-top-0 section-fluid section-relative bg-gray-4">
  <div class="container-fluid">
    <h6 class="gallery-title">Gallery</h6>
    <!-- Owl Carousel-->
    <div class="owl-carousel owl-classic owl-dots-secondary" data-items="1" data-sm-items="2" data-md-items="3" data-lg-items="4" data-xl-items="5" data-xxl-items="6" data-stage-padding="15" data-xxl-stage-padding="0" data-margin="30" data-autoplay="true" data-nav="true" data-dots="true">
      <!-- Thumbnail Classic-->
      <article class="thumbnail thumbnail-mary">
        <div class="thumbnail-mary-figure"><img src="{% static 'images/gallery-image-1-270x195.jpg' %}" alt="" width="270" height="195"/>
        </div>
        <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="{% static 'images/gallery-image-1-1200x800-original.jpg' %}" data-lightgallery="item"><img src="{% static 'images/gallery-image-1-270x195.jpg' %}" alt="" width="270" height="195"/></a>
        </div>
      </article>
      <!-- Thumbnail Classic-->
      <article class="thumbnail thumbnail-mary">
        <div class="thumbnail-mary-figure"><img src="{% static 'images/gallery-image-2-270x195.jpg' %}" alt="" width="270" height="195"/>
        </div>
        <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="{% static 'images/gallery-image-2-1200x800-original.jpg' %}" data-lightgallery="item"><img src="{% static 'images/gallery-image-2-270x195.jpg' %}" alt="" width="270" height="195"/></a>
        </div>
      </article>
      <!-- Thumbnail Classic-->
      <article class="thumbnail thumbnail-mary">
        <div class="thumbnail-mary-figure"><img src="{% static 'images/gallery-image-3-270x195.jpg' %}" alt="" width="270" height="195"/>
        </div>
        <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="{% static 'images/gallery-image-3-1200x800-original.jpg' %}" data-lightgallery="item"><img src="{% static 'images/gallery-image-3-270x195.jpg' %}" alt="" width="270" height="195"/></a>
        </div>
      </article>
      <!-- Thumbnail Classic-->
      <article class="thumbnail thumbnail-mary">
        <div class="thumbnail-mary-figure"><img src="{% static 'images/gallery-image-4-270x195.jpg' %}" alt="" width="270" height="195"/>
        </div>
        <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="{% static 'images/gallery-image-4-1200x800-original.jpg' %}" data-lightgallery="item"><img src="{% static 'images/gallery-image-4-270x195.jpg' %}" alt="" width="270" height="195"/></a>
        </div>
      </article>
      <!-- Thumbnail Classic-->
      <article class="thumbnail thumbnail-mary">
        <div class="thumbnail-mary-figure"><img src="{% static 'images/gallery-image-5-270x195.jpg' %}" alt="" width="270" height="195"/>
        </div>
        <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="{% static 'images/gallery-image-5-1200x800-original.jpg' %}" data-lightgallery="item"><img src="{% static 'images/gallery-image-5-270x195.jpg' %}" alt="" width="270" height="195"/></a>
        </div>
      </article>
      <!-- Thumbnail Classic-->
      <article class="thumbnail thumbnail-mary">
        <div class="thumbnail-mary-figure"><img src="{% static 'images/gallery-image-6-270x195.jpg' %}" alt="" width="270" height="195"/>
        </div>
        <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="{% static 'images/gallery-image-6-1200x800-original.jpg' %}" data-lightgallery="item"><img src="{% static 'images/gallery-image-6-270x195.jpg' %}" alt="" width="270" height="195"/></a>
        </div>
      </article>
      <!-- Thumbnail Classic-->
      <article class="thumbnail thumbnail-mary">
        <div class="thumbnail-mary-figure"><img src="{% static 'images/gallery-image-7-270x195.jpg' %}" alt="" width="270" height="195"/>
        </div>
        <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="{% static 'images/gallery-image-7-1200x800-original.jpg' %}" data-lightgallery="item"><img src="{% static 'images/gallery-image-7-270x195.jpg' %}" alt="" width="270" height="195"/></a>
        </div>
      </article>
    </div>
  </div>
</section>
{% endblock %}
{% block navbar %}
  <li class="rd-nav-item active"><a class="rd-nav-link" href="/">Home</a>
  </li>
  <li class="rd-nav-item"><a class="rd-nav-link" href="/about/">About</a>
  </li>
  <li class="rd-nav-item"><a class="rd-nav-link" href="/courses/">Courses</a>
  </li>
  <li class="rd-nav-item"><a class="rd-nav-link" href="/contact-us/">Contact Us</a>
  </li>
{% endblock %}